.list-container {
    width: fit-content;
    margin: 60px auto;
}

table {
    min-width: 50rem;
    border-collapse: collapse;
}

thead, tr, td, th {
    text-align: center;
}

thead {
    background-color: var(--secondary-color);
    color: ghostwhite;
}

tbody tr td, thead th {
    padding-block: 10px;
}

tbody tr:nth-child(odd){
    background-color: ghostwhite;
}

tbody tr:nth-child(even){
    background-color: lightgray;
}

.delete, .edit{
    color: dimgray;
}


.edit:hover, .delete:hover{
    cursor: pointer;
}

.edit:hover {
    color: var(--main-color);
}

.delete:hover {
    color: crimson;
}

.actions {
    text-decoration: none;
}

.actions:has(.edit, .delete)  {
    margin-right: 10px;
}

.actions:visited{}

.client-name {
    position: relative;
    display: inline-block;
    color: black;
}

.client-name:hover{
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:visited {}

.command-count {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background-color: #ef4d4d;
    height: 1rem;
    width: 1rem;
    color: ghostwhite;
    /*border: .1px solid black;*/
    border-radius: 50%;
    font-size: .7rem;
    margin-left: .2rem;
    font-weight: bold;
    transform: translateY(-50%);
    top: 50%;
}

.client-name::after{
    position: absolute;
    display: none;
    content: 'View Commands';
    font-size: .7rem;
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
    z-index: 10;
    color: dimgray;
    border: .1px solid black;
    border-radius: 4px;
    padding: .5rem;
    right: -8.5rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all .4s ease-in-out;
}

.client-name:hover::after{
    display: block;
}

.command-count:visited{}