.list-container {
    width: 90%;
    max-width: 50rem;
    margin: 60px auto;
}


.btn-add-client {
    display: block;
    min-width: 7rem;
    max-width: fit-content;
    padding: .6rem 2rem;
    text-align: center;
    margin: 1rem 0;
    background-color: transparent;
    font-size: .9rem;
    font-weight: bold;
    color: darkslategrey;
    border: .5px solid grey;
    border-radius: 6px;
}

.btn-add-client:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: ghostwhite;
}

.owner{
    max-width: 100%;
    margin-inline: auto;
    padding: .7rem 1rem;
    background-color: rgba(0, 0, 0, .7);
    color: ghostwhite;
    font-size: .8rem;
    font-weight: bold;
    border-radius: 5px;
}

.owner span {
    font-size: .9rem;
    text-decoration: underline;
    font-weight: bolder;
}

table {
    min-width: 50rem;
    border-collapse: collapse;
}

thead, tr, td, th {
    text-align: center;
}

thead {
    background-color: var(--secondary-color);
    color: ghostwhite;
}

tbody tr td, thead th {
    padding-block: 10px;
}

tbody tr:nth-child(odd){
    background-color: ghostwhite;
}

tbody tr:nth-child(even){
    background-color: lightgray;
}

.delete, .edit{
    color: dimgray;
    background-color: transparent;
}

.edit:hover, .delete:hover{
    cursor: pointer;
}

.edit:hover {
    color: var(--main-color);
}

.delete:hover {
    color: crimson;
}

.actions {
    text-decoration: none;
}

.actions:has(.edit, .delete)  {
    margin-right: 10px;
}

.actions:visited{}
